.dashBoardWrapper {
    height: 100vh;
    background-color: rgb(73, 101, 126);
    display: flex;
    flex-direction: column;
}

.mainContainer {
    background-color: darkblue;
    display: flex;
    display: flex;
    overflow: hidden;
}

.chatChoice {
    flex: 1;
    background-color: red;
}

.chatLayout {
    background-color: gray;
    flex: 5;
}

.chat {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.activeUser {
    background-color: wheat;
    font-size: xxx-large;
    justify-self: center;
}

.chatHistory {
    flex: 1;
    overflow-y: auto;
}


.chatBox {
    max-width: 40%;
    padding: 8px 14px;
    border-radius: 18px 18px 10px 0px;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    align-self: flex-start;
    margin-bottom: 12px;
    padding: 1rem;
}

.you {
    margin-left: auto;
    max-width: 40%;
    padding: 8px 14px;
    border-radius: 18px 10px 0px 18px;
    background: rgb(116, 195, 248);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    align-self: flex-start;
    margin-bottom: 12px; 
    padding: 1rem;
}

.message {
    margin-top: auto;
    flex-shrink: 0; 
    padding: 1rem;
    background-color: gray;
}

.message-container {
    display: flex;
    width: 100%;
    gap: 8px;
}
.messageBar {
    flex: 1;
}
.users {
    background-color: white;
    flex: 1;
}


.conversation {
    font-size: 2em;
    background-color: rgba(221, 177, 177, 0.753);
}

.conversation:hover {
    background-color: rgb(221, 177, 177);
    cursor: pointer;
}

