.dashBoardWrapper {
    height: 100%;
    background-color: rgb(73, 101, 126);
    display: flex;
    flex-direction: column;
}

.mainContainer {
    background-color: darkblue;
    display: flex;
    height: 100%;
    margin-top: 5em;
}

.chatChoice {
    flex: 1;
    background-color: red;
}

.chatLayout {
    background-color: gray;
    flex: 5;
}

.chat {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chatBox {
    background-color: aliceblue;
}

.messageBar {
    width: 94.3%;
}
.users {
    background-color: white;
    flex: 1;
}

.activeUser{
    flex: 1;
}

.conversation {
    font-size: 2em;
    background-color: rgba(221, 177, 177, 0.753);
}

.conversation:hover {
    background-color: rgb(221, 177, 177);
    cursor: pointer;
}