.header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1em;
    background-image: url('/hex.jpeg');
    background-size: clamp(12em, 15em, 20em);
    border-bottom: 6px solid rgb(78, 78, 78);
}

.headerTitle {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 2em;
}

.visitChat {
    cursor: pointer;
}
.visitChat:hover {
    color: rgb(75, 75, 75);
    text-decoration: underline;
}
.headerText {
    font-size: 3em;
    color: rgb(54, 52, 49);
}

.profilePicture:hover {
    cursor: pointer;
}

