.mainWrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.profileLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222020;
    color: rgb(0, 0, 0);
    flex: 1;
}

.profileModal {
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 12px;
    background-color: gainsboro;
    max-width: 500px;
    padding: 2em;
    margin: 2rem;
}

.generalInfoForm, .passwordForm {
    display: flex;
    flex-direction: column;
}

.profilePicture {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: solid 2px rgb(56, 52, 52);
}

.passwordForm {
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 12px;
    background-color: gainsboro;
    max-width: 500px;
    padding: 2em;
    margin: 2rem;
}

textarea {
    resize: none;
}

button {
    cursor: pointer;
}

.updPassBtn, .changePassBtn, .updProfileBtn {
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 12px;
    border: none;
    box-shadow: 2px -1px 4px 0px,
                2px -2px 3px 0px;
}

.updPassBtn:hover, .changePassBtn:hover, .updProfileBtn:hover {
    background-color: white;
}